LABEL arch
TEXT HELP
Boot the Nitro OS Install medium on BIOS.
It allows you to install Nitro OS or perform system maintenance.
ENDTEXT
MENU LABEL Nitro OS Install medium (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID%

LABEL archnomodeset
TEXT HELP
Boot the Nitro OS Install medium on BIOS with Safe Graphics (nomodeset).
ENDTEXT
MENU LABEL Nitro OS Install medium (Safe Graphics, %ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% nomodeset

LABEL archcopytoram
TEXT HELP
Boot the Nitro OS Install medium on BIOS and copy entire image to RAM.
ENDTEXT
MENU LABEL Nitro OS Install medium (Copy to RAM, %ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% copytoram=y


# Accessibility boot option
LABEL archspeech
TEXT HELP
Boot the Nitro OS Install medium on BIOS with speakup screen reader.
It allows you to install Nitro OS or perform system maintenance with speech feedback.
ENDTEXT
MENU LABEL Nitro OS Install medium (%ARCH%, BIOS) with ^speech
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% accessibility=on
